:root {
    --first-color: #F98F03;
    --second-color: #E71C15;
    --third-color: #E8B583;
    --fourth-color: #90050A;
    --fiftth-color: #61340B;
}

@font-face {
    font-family: "Flame-Regular";
    src: url(./fonts/Flame-Regular.woff);
}

@font-face {
    font-family: "FlameSans-Regular";
    src: url(./fonts/FlameSans-Regular.woff);
}

@font-face {
    font-family: "Flame-Bold";
    src: url(./fonts/Flame-Bold.woff);
}

* {
    list-style-type: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* About Us */
.about-us_icon img {
    height: 37.5rem;
    width: 28.125rem;
}

.about-us {
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 0 0 0 5rem;
}

.about-us_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us_title {
    font-family: "Flame-Regular";
    color: var(--fourth-color);
    font-size: 1rem;
    margin-bottom: 0;
}

.about-us_subtitle {
    color: var(--third-color);
    font-family: "Flame-Bold";
    font-size: 4.5rem;
    width: 37.5rem;
    margin: 0;
}

.about-us_description {
    color: var(--third-color);
    font-family: "FlameSans-Regular";
    font-size: 1rem;
    line-height: 1.5rem;
    width: 35rem;
    margin: 1rem 0;
}

.careers, .learn-more {
    font-family: "FlameSans-Regular";
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    outline: none;
    color: var(--third-color);
    cursor: pointer;
}

.careers {
    background-color: var(--second-color);
    border: 2px solid var(--third-color);
}

.learn-more {
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
}

.learn-more:hover {
    transition: 0.5s;
    background-color: var(--third-color);
    color: var(--fourth-color);
    opacity: 0.4;
}

.careers:hover {
    transition: 0.5s;
    background-color: var(--third-color);
    color: var(--fourth-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    padding-top: 1rem;
} 

.about-us_icon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2.5rem 0;
    position: relative;
    z-index: 0;
    width: 100%;
}

.about-us .about-us_icon .icon-title {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Flame-Bold";
    font-size: 3.5rem;
    color: var(--fourth-color);
    letter-spacing: 0.25rem;
}

.about-us .about-us_icon .icon .crew-icon {
    height: auto;
    width: 28.125rem;
    padding-top: 4rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.about-us .about-us_icon .icon-title h1:nth-child(2){
    opacity: 0.7;
}

.about-us .about-us_icon .icon-title h1:nth-child(3){
    opacity: 0.4
}

.about-us .about-us_icon .icon-title h1:nth-child(4){
    opacity: 0.1;
}


.burger-button {
    color: var(--second-color);
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

/* Hero Section */

nav {
    transition: 1s;
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: var(--first-color);
    position: fixed;
    width: 60%;
    gap: 10rem;
}

.scrolled {
    transition: 0.5s;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    width: 100%;
    position: fixed;
    z-index: 2000;
}

nav .burger-button {
    display: none;
}

nav .nav-links {
    font-family: 'Flamesans-Regular';
    color: var(--fourth-color);
    display: flex;
    width: 100%;
    gap: 4rem  ;
}


nav .nav-links li:nth-child(1) {
    display: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.close-button {
    font-size: 1.5rem;
}


.hero {
    background-color: var(--first-color);
    padding: 2rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 4rem;
    z-index: 0;
}

.hero .intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero .intro .hero-title {
    color: var(--third-color);
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'Flame-Bold';
}

.hero .intro .hero-title h1:nth-child(2) {
    color: var(--second-color);
    padding-left: 2rem;
}

.hero .intro .hero-button button {
    transition: 0.5s;
    color: var(--third-color);
    border: none;
    background-color: var(--second-color);
    font-weight: lighter;
    border-radius: 50px;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Flamesans-Regular';
}

.hero .intro .hero-button button:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.hero .hero-icon {
    background-color: var(--second-color);
    width: 40%;
    padding: 1.5rem 0;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.hero .hero-icon .icon-title {
    /* font-family: 'Flame-Bold'; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .hero-icon .icon-title h1:nth-child(3){
    opacity: 0.8;
}

.hero .hero-icon .icon-title h1:nth-child(4){
    opacity: 0.6;
}

.hero .hero-icon .icon-title h1:nth-child(5){
    opacity: 0.5;
}

.hero .hero-icon .icon-title h1:nth-child(6){
    opacity: 0.4;
}

.hero .hero-icon .icon-title {
    font-size: 3.5rem;
    color: var(--fourth-color);
    font-family: 'Flame-Bold';
}

.hero .hero-icon .icon .burger-icon {
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hero .contacts {
    position: fixed;
    top: 85%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -10%);
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    background-color: var(--fiftth-color);
    border-radius: 13px;
    padding: 1rem 3rem;
    z-index: 1500;
    opacity: 0.8;
}

.hero .contacts .social-links {
    background-color: var(--third-color);
    padding: 0.5rem 1rem;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero .contacts .social-links ion-icon {
    color: var(--fiftth-color);
}

.hero .contacts .phone ion-icon {
    font-size: 1rem;
}

.phone ion-icon, .phone h1 {
    color: var(--fiftth-color);
    font-family: 'Flamesans-Regular';
}

.phone h1 {
    font-size: 0.875rem;
}

.hero .contacts .phone {
    background-color: var(--third-color);
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.hero .contacts .phone .phone-number {
    font-size: 0.7rem;
}

.hero .contacts .description {
    font-family: 'Flamesans-Regular';
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    color: var(--third-color);
}

/* Best Sellers */
.best-sellers {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: "FlameSans-Regular";
}

.burger-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    height: 100%;
    width: 33%;
    position: relative;
}

.burger-1 .title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    margin-top: 12rem;
}

.burger-1 .title .name {
    font-family: "Flame-Regular";
    font-size: 1.8rem;
}

.burger-1 .title .price {
    border: 2px solid var(--fourth-color);
    border-radius: 1rem;
    padding: 0.15rem 0.75rem;
}

.burger-1 .description {
    font-size: 1rem;
    padding-top: 0.65rem;
    line-height: 1.5rem;
}

.burger-1 .burger1-icon .bg-icon {
    letter-spacing: 0.35rem;
    white-space: nowrap;
    overflow: hidden;
}

.burger-1 .burger1-icon .bg-icon h1:nth-child(2) {
    opacity: 0.7;
}

.burger-1 .burger1-icon .bg-icon h1:nth-child(3) {
    opacity: 0.4;
}

.burger-1 .burger1-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-family: 'Flame-Bold';
    position: relative;
    z-index: 0;
}

.burger-1 img {
    height: 345px;
    width: 345px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.burger-2 {
    position: relative;
    background-color: var(--third-color);
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: var(--second-color);
    height: 100%;
    width: 34%;
}

.burger-2 .title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    margin-top: 12rem;
}

.burger-2 .title .name {
    font-family: "Flame-Regular";
    font-size: 1.8rem;
}

.burger-2 .title .price {
    border: 2px solid var(--second-color);
    border-radius: 1rem;
    padding: 0.15rem 0.75rem;
}

.burger-2 .description {
    font-size: 1rem;
    padding-top: 0.65rem;
    line-height: 1.5rem;
}

.burger-2 .burger2-icon .bg-icon {
    letter-spacing: 0.35rem;
    white-space: nowrap;
    overflow: hidden;
}

.burger-2 .burger2-icon .bg-icon h1:nth-child(2) {
    opacity: 0.7;
}

.burger-2 .burger2-icon .bg-icon h1:nth-child(3) {
    opacity: 0.4;
}

.burger-2 .burger2-icon { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-family: 'Flame-Bold';
    position: relative;
    z-index: 0;
}

.burger-2 img {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.burger-3 {
    position: relative;
    background-color: var(--second-color);
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: var(--third-color);
    height: 100%;
    width: 33%;
}

.burger-3 .title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    margin-top: 13rem;
}

.burger-3 .title .name {
    font-family: "Flame-Regular";
    font-size: 1.8rem;
}

.burger-3 .title .price {
    border: 2px solid var(--third-color);
    border-radius: 1rem;
    padding: 0.15rem 0.75rem;
}

.burger-3 .description {
    font-size: 1rem;
    padding-top: 0.65rem;
    line-height: 1.5rem;
}

.burger-3 .burger3-icon .bg-icon {
    white-space: nowrap;
    overflow: hidden;
}

.burger-3 .burger3-icon .bg-icon h1:nth-child(2) {
    opacity: 0.7;
}

.burger-3 .burger3-icon .bg-icon h1:nth-child(3) {
    opacity: 0.4;
}

.burger-3 .burger3-icon { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.79rem;
    font-family: 'Flame-Bold';
    position: relative;
    z-index: 0;
}

.burger-3 img {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.rewards {
    /* min-height: 100vh; */
    /* position: relative; */
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--fourth-color);
}

.rewards-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.rewards-title h1:nth-child(1) {
    font-family: 'Flame-Regular';
    font-size: 1.2rem;
    color: var(--first-color);
}

.rewards-title h1:nth-child(2) {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--third-color);
    font-family: 'Flame-Bold';
}

.rewards-title p:nth-child(3) {
    width: 60%;
    margin-top: 0.2rem;
    font-family: 'Flamesans-Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--third-color);
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color)
}

.card-img img {
    width: 100%;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card .card-description {
    background-color: var(--third-color);
    color: var(--fourth-color);
    padding: 1.5rem;
}

.card-description h1 {
    padding-bottom: 0.55rem;
    font-family: 'Flame-Regular';
    font-size: 1.5rem;
}

.card-description p {
    font-family: 'FlameSans-Regular';
    margin-top: auto;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

/* Footer Section */
.footer {
    display: flex;
    flex-direction: column;
    font-family: "FlameSans-Regular";
    background-color: var(--first-color);
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    gap: 1.3rem;
}

.footer-tagline {
    width: 60%;
}

.footer-tagline h1 {
    font-family: "Flame-Bold";
    color: var(--fourth-color);
    font-size: 4rem;
    padding-bottom: 1rem;
}

.footer-tagline p {
    color: var(--fourth-color);
    line-height: 1.5rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    background-color: white;
    border-radius: 3rem;
    justify-content: center;
    padding: 0.75rem;
}

.footer-icons .scan-code {
    padding-right: 1rem;
}

.footer-icons .scan-code img {
    height: 11rem;
    width: 11rem;
}

.footer-icons .app img {
    height: 5rem;
    width: 15rem;
}

.footer-icons .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-credits {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    align-items: center;
    justify-content: center;
    background-color: var(--fourth-color);
    color: var(--third-color);
    gap: 0.35rem;
    font-size: 0.85rem;
}

.footer-credits a {
    color: var(--third-color);
}

/* Mobile */
@media only screen and (max-width: 767px) {

    /* Hero Section */

    nav {
        padding: 1.5rem 2rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav .burger-button {
        display: block;
    }

    nav .nav-links {
        transition: all 0.5s ease-in;
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        width: 60%;
        background-color: var(--third-color);
        height: 100vh;
        z-index: 1900;
        animation: openNavbar 0.5s ease-in-out;
    }

    nav .nav-links li:nth-child(1) {
        display: flex;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding-right: 0;
    }

    .hero .hero-icon {
        width: 100%;
        height: auto;
    }

    .hero .contacts {
        position: fixed;
        /* top: 80%; */
        width: 90%;
        justify-content: space-around;
    }

    .hero .intro .hero-title {
        color: var(--third-color);
        font-weight: bold;
        font-size: 2.5rem;
    }

    .hero .contacts .phone h1 {
        font-size: 0.625rem;
    }

    .hero .contacts .description {
        display: none;
    }

    /* About Us */
    .about-us {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem;
    }

    .about-us_content {
        padding-left: 1.2rem;
    }

    .about-us_subtitle {
        font-size: 2.8rem;
        width: 100%;
    }

    .about-us_description {
        font-size: 0.95rem;
        width: 90%;
    }

    .careers, .learn-more {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    .buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    } 

    .about-us_icon {
        display: flex;
        align-items: center;
    }

    .about-us .about-us_icon .icon .crew-icon {
        padding-top: 0.25rem;
        height: 32rem;
        width: 25rem;
        top: 70%;
    }

    .about-us .about-us_icon .icon-title {
        display: flex;
        align-items: center;
        font-size: 2.25rem;
        line-height: 4.5rem;
        white-space: nowrap;
        overflow: hidden;
    }


    /* Hero Section */
    .hero .intro .hero-button button {
        padding: 0.8rem 2rem;
    }

    .hero .hero-icon .icon-title {
        font-size: 2.5rem;
    }

    .hero .hero-icon .burger-icon {
        height: auto;
    }

    /* Best Sellers */
  .best-sellers {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .burger-1 {
    width: 100%;
  }

  .burger-2{
    width: 100%;
  }

  .burger-2 img {
    height: 270px;
    width: 370px;
  }

  .burger-3 {
    width: 100%;
  }

  /* Rewards */
  
  .cards-container {
    gap: 0.85rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .card .card-description h1 {
    font-size: 1.5rem;
  }

  .card .card-description p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  .card {
    width: 100%;
  }

  .rewards {
    height: auto;
  }

  .rewards-title p:nth-child(3) {
    font-size: 0.75rem;
    width: 80%;

  }

  /* Footer */
  .footer-content {
    flex-direction: column;
  }

  .footer-tagline h1 {
    font-size: 2rem;
  }

  .footer-tagline p {
    font-size: 0.75rem;
  }

  .footer-tagline {
    width: 100%;
  }

  .footer-icons {
    width: 100%;
    border-radius: 1.5rem;
    flex-direction: row;
    justify-content: center;
  }

  .footer-icons .scan-code img {
    height: 7rem;
    width: 7rem;
  }

  .footer-icons .app img {
    height: 3rem;
    width: 7rem;
  }
  }


@keyframes openNavbar {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}