:root {
    --first-color: #F98F03;
    --second-color: #E71C15;
    --third-color: #E8B583;
    --fourth-color: #90050A;
}

@font-face {
    font-family: "Flame-Regular";
    src: url(./fonts/Flame-Regular.woff);
}

@font-face {
    font-family: "FlameSans-Regular";
    src: url(./fonts/FlameSans-Regular.woff);
}

@font-face {
    font-family: "Flame-Bold";
    src: url(./fonts/Flame-Bold.woff);
}

* {
    list-style-type: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Section: About Us Desktop View */
.about-us_image img {
    height: 600px;
    width: 450px;
}

.about-us {
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 5rem;
}

.about-us_title {
    color: var(--fourth-color);
    font-size: 26px;
    margin-bottom: 0;
}

.about-us_subtitle {
    color: var(--third-color);
    font-family: "Flame-Bold";
    font-size: 72px;
    width: 600px;
    margin: 0;
}

.about-us_description {
    color: var(--third-color);
    font-family: "FlameSans-Regular";
    font-size: 16px;
    width: 27rem;
    margin: 1rem 0;
}

.careers, .learn-more {
    font-family: "FlameSans-Regular";
    padding: 10px 15px;
    border-radius: 36px;
    outline: none;
    color: var(--third-color);
    cursor: pointer;
}

.careers {
    background-color: var(--second-color);
    border: 2px solid var(--third-color);
}

.learn-more {
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 290px;
    padding-top: 15px;
} 


.burger-button {
    color: var(--second-color);
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

/* Hero Section */

nav {
    transition: 1s;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--first-color);
    position: fixed;
    width: 60%;
    gap: 10rem;
}

.scrolled {
    transition: 0.5s;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    width: 100%;
    position: fixed;
    z-index: 2000;
}

nav .burger-button {
    display: none;
}

nav .nav-links {
    font-family: 'Flamesans-Regular';
    color: var(--fourth-color);
    display: flex;
    width: 100%;
    gap: 4rem  ;
}

.hero {
    background-color: var(--first-color);
    padding: 2rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 4rem;
}

.hero .intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero .intro .hero-title {
    color: var(--third-color);
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'Flame-Bold';
}

.hero .intro .hero-title h1:nth-child(2) {
    color: var(--second-color);
    padding-left: 2rem;
}

.hero .intro .hero-button button {
    transition: 0.5s;
    color: var(--third-color);
    border: none;
    background-color: var(--second-color);
    font-weight: lighter;
    border-radius: 50px;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Flamesans-Regular';
}

.hero .intro .hero-button button:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.hero .hero-icon {
    background-color: var(--second-color);
    width: 40%;
    padding: 1.5rem 0;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.hero .hero-icon .icon-title {
    /* font-family: 'Flame-Bold'; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .hero-icon .icon-title h1:nth-child(3){
    opacity: 0.8;
}

.hero .hero-icon .icon-title h1:nth-child(4){
    opacity: 0.6;
}

.hero .hero-icon .icon-title h1:nth-child(5){
    opacity: 0.5;
}

.hero .hero-icon .icon-title h1:nth-child(6){
    opacity: 0.4;
}

.hero .hero-icon .icon-title {
    font-size: 3.5rem;
    color: var(--fourth-color);
    font-family: 'Flame-Bold';
}

.hero .hero-icon .icon .burger-icon {
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


/* Mobile */
@media only screen and (max-width: 767px) {

    /* Hero Section */

    nav {
        padding: 2rem 2rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav .burger-button {
        display: block;
    }

    nav .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding-right: 0;
    }

    .hero .hero-icon {
        width: 100%;
        height: auto;
    }

    .hero .intro .hero-title {
        color: var(--third-color);
        font-weight: bold;
        font-size: 2.5rem;
    }

    /* Section: About Us Mobile View */
    .about-us {
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem;
    }

    .about-us_subtitle {
        font-size: 3.5rem;
        width: 500px;
    }
    
    .hero .intro .hero-button button {
        padding: 0.8rem 2rem;
    }

    .hero .hero-icon .icon-title {
        font-size: 2.5rem;
    }

    .hero .hero-icon .burger-icon {
        height: auto;
    }
  }